html
{
  width: 960px;   
  background-color: #FDFDFF;
  margin: 0 auto;
}

body
{
	width: 960px; 
    text-align: center;
	padding: 0;
	color: white;
	background-color: white;
    font-family: 'Noto Sans', sans-serif;    
}
/* Hero Image */
#banner 
{
  clear: both;
  background-image: url("http://roa.h-cdn.co/assets/15/41/980x490/landscape-1444156742-tesla.jpg");
  background-repeat: no-repeat;
  background-size:100% 100%;
  height: 363px;
  width: 960px;
  color: black;  
  font-family: 'Open Sans', sans-serif;
}

/* Nav Bar */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: grey;
}

.active {
    background-color: #4CAF50;
}

/*Headings */

h1,h2,h3,h4,h5,h6
{
    color: white; 
    margin: 0 0 .5em;
	font-weight: 500;
	line-height: 1.1;
}

h1 { color: black;
    font-size: 2.25em; 
    font-family: 'Noto Sans', sans-serif;
    } /* 36px */
h2 { font-size: 1.75em; 
    font-family: 'Dosis', sans-serif;
    } /* 28px */
h3 {color: black;
    font-size: 1.375em; 
    font-family: 'Dosis', sans-serif;
    } /* 22px */
h4 { font-size: 1.125em; 
     font-family: 'Playfair Display', serif;
    } /* 18px */
h5 {color: black; 
    font-size: 1em;
    font-family: 'Alegreya', serif;} /* 16px */
h6 { font-size: .875em; } /* 14px */


/*  Sidebar */
.float-left-area  {
		  width: 70%;
		  float: left;
		  }

.float-right-area {
		  width: 30%;
		  float: left;
		  }

.inner-left	  
{
		  padding: 5px 5px 5px 5px;
          color: black;
		  margin-right: 10px;
		  border: #999999 1px solid;
		  min-height: 60px;
}

.inner-right	  
{
		  font-size: 11px;
          color: black;
		  padding: 5px 5px 5px 5px;
		  border: #999999 1px solid;
		  min-height: 60px;
}
.inner-right ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.inner-right li a {
    margin-bottom: 4px;
    display: block;
    padding: 8px;
    background-color: #eee;
    text-decoration: none;
    color: #666;
}

.clear-floated	  { clear: both; height: 1px; font-size: 1px; line-height: 1px; padding: 0; margin: 0; }


/* Content */
.container
{
    max-width: 50em;
	margin: 0 auto;
}


.header-heading 
{ 
    margin: 0; 
    color: #FFF9CF;
  }

.nav-bar
{
   
    color: #3E3E40;
	padding: 0;
}


#content
{
	padding: 1em 1.25em;
	background-color: black;
    color: white;
}

#b {
    display: inline-block;
    position: relative;
    margin: 1%;
    float: left;
    width: 23%;
    background-color: black;
    color: white;
    box-shadow: 10px 10px 5px grey;
    border-radius: 25px;
}

#newspaper {
    -webkit-column-count: 3; /* Chrome, Safari, Opera */
    -moz-column-count: 3; /* Firefox */
    column-count: 3;
    color: black;
}

#footer
{
	color:white;
	background: black;
	padding: 1em 1.25em;
}

/* Image Cards Codse */
div.polaroid {
  width: 80%;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
 /* margin-bottom: 25px; */
  margin: auto;
}

#img 
{
    max-width: 100%;
    height: auto;
    margin: auto;
}

div.bulk {
  text-align: center;
  padding: 10px 20px;
}

/* Contact page */
#feedback-page{
	text-align:center;
}

#form-main{
	width:100%;
	float:left;
	padding-top:0px;
}

#form-div {
	background-color:rgba(72,72,72,0.4);
	padding-left:35px;
	padding-right:35px;
	padding-top:35px;
	padding-bottom:50px;
	width: 450px;
	float: left;
	left: 50%;
	position: absolute;
  margin-top:30px;
	margin-left: -260px;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
}

.feedback-input {
	color:#3c3c3c;
	font-family: Helvetica, Arial, sans-serif;
  font-weight:500;
	font-size: 18px;
	border-radius: 0;
	line-height: 22px;
	background-color: #fbfbfb;
	padding: 13px 13px 13px 54px;
	margin-bottom: 10px;
	width:100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
  border: 3px solid rgba(0,0,0,0);
}

.feedback-input:focus{
	background: #fff;
	box-shadow: 0;
	border: 3px solid #3498db;
	color: #3498db;
	outline: none;
  padding: 13px 13px 13px 54px;
}

.focused{
	color:#30aed6;
	border:#30aed6 solid 3px;
}

/* Icons ---------------------------------- */
#name{
	background-image: url(http://rexkirby.com/kirbyandson/images/name.svg);
	background-size: 30px 30px;
	background-position: 11px 8px;
	background-repeat: no-repeat;
}

#name:focus{
	background-image: url(http://rexkirby.com/kirbyandson/images/name.svg);
	background-size: 30px 30px;
	background-position: 8px 5px;
  background-position: 11px 8px;
	background-repeat: no-repeat;
}

#email{
	background-image: url(http://rexkirby.com/kirbyandson/images/email.svg);
	background-size: 30px 30px;
	background-position: 11px 8px;
	background-repeat: no-repeat;
}

#email:focus{
	background-image: url(http://rexkirby.com/kirbyandson/images/email.svg);
	background-size: 30px 30px;
  background-position: 11px 8px;
	background-repeat: no-repeat;
}

#comment{
	background-image: url(http://rexkirby.com/kirbyandson/images/comment.svg);
	background-size: 30px 30px;
	background-position: 11px 8px;
	background-repeat: no-repeat;
}

textarea {
    width: 100%;
    height: 150px;
    line-height: 150%;
    resize:vertical;
}

input:hover, textarea:hover,
input:focus, textarea:focus {
	background-color:white;
}

#button-blue{
	font-family: 'Montserrat', Arial, Helvetica, sans-serif;
	float:left;
	width: 100%;
	border: #fbfbfb solid 4px;
	cursor:pointer;
	background-color: #3498db;
	color:white;
	font-size:24px;
	padding-top:22px;
	padding-bottom:22px;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
  margin-top:-4px;
  font-weight:700;
}

#button-blue:hover{
	background-color: rgba(0,0,0,0);
	color: #0493bd;
}
	
.submit:hover {
	color: #3498db;
}
	
.ease {
	width: 0px;
	height: 74px;
	background-color: #fbfbfb;
	-webkit-transition: .3s ease;
	-moz-transition: .3s ease;
	-o-transition: .3s ease;
	-ms-transition: .3s ease;
	transition: .3s ease;
}

.submit:hover .ease{
  width:100%;
  background-color:white;
}

@media only screen and (max-width: 580px) {
	#form-div{
		left: 3%;
		margin-right: 3%;
		width: 88%;
		margin-left: 0;
		padding-left: 3%;
		padding-right: 3%;
	}
}


