html
{
  width: 960px;   
  background-color: #FDFDFF;
  margin: 0 auto;
}

body
{
	width: 960px; 
    text-align: center;
	padding: 0;
	color: white;
	background-color: white;
    font-family: 'Noto Sans', sans-serif;    
}
/* Hero Image */
#banner 
{
  clear: both;
  background-image: url("http://roa.h-cdn.co/assets/15/41/980x490/landscape-1444156742-tesla.jpg");
  background-repeat: no-repeat;
  background-size:100% 100%;
  height: 363px;
  width: 960px;
  color: black;  
  font-family: 'Open Sans', sans-serif;
}

/* Nav Bar */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: grey;
}

.active {
    background-color: #4CAF50;
}

/*Headings */

h1,h2,h3,h4,h5,h6
{
    color: white; 
    margin: 0 0 .5em;
	font-weight: 500;
	line-height: 1.1;
}

h1 { font-size: 2.25em; 
    font-family: 'Noto Sans', sans-serif;
    } /* 36px */
h2 { font-size: 1.75em; 
    font-family: 'Dosis', sans-serif;
    } /* 28px */
h3 { font-size: 1.375em; 
    font-family: 'Dosis', sans-serif;
    } /* 22px */
h4 { font-size: 1.125em; 
     font-family: 'Playfair Display', serif;
    } /* 18px */
h5 { font-size: 1em;
    font-family: 'Alegreya', serif;} /* 16px */
h6 { font-size: .875em; } /* 14px */

p
{
    max-width: 600px;   
    margin: 0 auto 20px;
    font-family: 'Alegreya', serif;
    color: black;
}

/*  Sidebar */
.float-left-area  {
		  width: 30%;
		  float: left;
		  }

.float-right-area {
		  width: 70%;
		  float: left;
		  }

.inner-left	  
{
		  padding: 5px 5px 5px 5px;
          color: black;
		  margin-right: 10px;
		  border: #999999 1px solid;
		  min-height: 60px;
}

.inner-right	  
{
		  font-size: 11px;
          color: black;
		  padding: 5px 5px 5px 5px;
		  border: #999999 1px solid;
		  min-height: 60px;
}

.clear-floated	  { clear: both; height: 1px; font-size: 1px; line-height: 1px; padding: 0; margin: 0; }


/* Content */
.container
{
    max-width: 50em;
	margin: 0 auto;
}


.header-heading 
{ 
    margin: 0; 
    color: #FFF9CF;
  }

.nav-bar
{
   
    color: #3E3E40;
	padding: 0;
}


#content
{
	padding: 1em 1.25em;
	background-color: black;
    color: white;
}

#b {
    display: inline-block;
    position: relative;
    margin: 1%;
    float: left;
    width: 23%;
    background-color: black;
    color: white;
    box-shadow: 10px 10px 5px grey;
    border-radius: 25px;
}

#newspaper {
    -webkit-column-count: 3; /* Chrome, Safari, Opera */
    -moz-column-count: 3; /* Firefox */
    column-count: 3;
    color: black;
}

#footer
{
	color:white;
	background: black;
	padding: 1em 1.25em;
}


