html
{
    width: 960px;
    margin: 0 auto;
}

body
{
	width: 960px; 
    text-align: center;
	padding: 0;
	color: white;
	background-color: #403834;
    font-family: 'Noto Sans', sans-serif;    
}
/* Hero Image */
#banner {
  clear: both;
  background-image: url("https://www.tesla.com/sites/default/files/red-tesla-model-s.jpg");
  height: 363px;
  width: 960px;
  margin-bottom: 50px;
  color: white;  
}

/*Headings */

h1,h2,h3,h4,h5,h6
{
    color: white; 
    margin: 0 0 .5em;
	font-weight: 500;
	line-height: 1.1;
}

h1 { font-size: 2.25em; 
    font-family: 'Noto Sans', sans-serif;
    } /* 36px */
h2 { font-size: 1.75em; 
    font-family: 'Dosis', sans-serif;
    } /* 28px */
h3 { font-size: 1.375em; 
    font-family: 'Dosis', sans-serif;
    } /* 22px */
h4 { font-size: 1.125em; 
     font-family: 'Playfair Display', serif;
    } /* 18px */
h5 { font-size: 1em;
    font-family: 'Alegreya', serif;} /* 16px */
h6 { font-size: .875em; } /* 14px */

p
{
    max-width: 600px;   
    margin: 0 auto 20px;
    font-family: 'Alegreya', serif;
    color: #F9F9FF;
}

/* Nav Bar */
ul 
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
    width: 960px;
}

li 
{
    float: right;
}

li a
{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover 
{
    background-color: #111;
}

/* Content */
.container
{
    max-width: 50em;
	margin: 0 auto;
}


.header-heading 
{ 
    margin: 0; 
    color: #FFF9CF;
  }

.nav-bar
{
   
    color: #3E3E40;
	padding: 0;
}


.content
{
	padding: 1em 1.25em;
	background-color: #F9F9FF;
    color: #3E3E40;
}

.footer
{
	color: #F0FFF4;
	background: #787F7A;
	padding: 1em 1.25em;
}


